[package]
name = "bootstrap"
version = "0.0.0"
authors = ["4lDO2 <4lDO2@protonmail.com>"]
edition = "2021"
license = "MIT"

[lib]
name = "bootstrap"
crate-type = ["staticlib"]

[dependencies]
hashbrown = { version = "0.14", default-features = false, features = [
    "inline-more",
] }
linked_list_allocator = "0.10"
redox-initfs = { git = "https://gitlab.redox-os.org/redox-os/redox-initfs.git", default-features = false }
redox_syscall = "0.5.4"
redox-scheme = { git = "https://gitlab.redox-os.org/redox-os/redox-scheme.git", tag = "v0.2.3" }
redox-rt = { git = "https://gitlab.redox-os.org/redox-os/relibc", default-features = false }
redox-path = "0.3.1"

[profile.release]
panic = "abort"
lto = "fat"

[profile.dev]
panic = "abort"
