[package]
name = "redox-initfs"
version = "0.1.0"
authors = ["4lDO2 <4lDO2@protonmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
plain = "0.2"

[features]
default = []

# Enables functionality to actually read the filesystem, which is only done in
# the kernel. (Writing to the filesystem is done in utils, and that crate only
# needs the type definitions).
kernel = []

[workspace]
members = [
  "utils",
]
