[workspace]
resolver = "2"
members = [
    "init",
    "ipcd",
    "logd",
    "netstack",
    "ptyd",
    "ramfs",
    "randd",
    "zerod",
]

[patch.crates-io]
net2 = { git = "https://gitlab.redox-os.org/redox-os/net2-rs.git", branch = "master" }
