[package]
name = "bootstrap"
version = "0.0.0"
authors = ["4lDO2 <4lDO2@protonmail.com>"]
edition = "2021"
license = "MIT"

[lib]
name = "bootstrap"
crate-type = ["staticlib"]

[dependencies]
hashbrown = { version = "0.14", default-features = false, features = [
    "inline-more",
] }
linked_list_allocator = "0.10"
redox-initfs = { git = "https://gitlab.redox-os.org/redox-os/redox-initfs.git", default-features = false }
redox_syscall = { version = "0.5.4", default-features = false }
redox-scheme = { git = "https://gitlab.redox-os.org/redox-os/redox-scheme.git" }
#redox-rt = { git = "https://gitlab.redox-os.org/redox-os/relibc", default-features = false }
redox-rt = { git = "https://gitlab.redox-os.org/4lDO2/relibc.git", branch = "userspace_proc", default-features = false }
redox-path = "0.3.1"

[profile.release]
panic = "abort"
lto = "fat"

[profile.dev]
panic = "abort"

[patch.crates-io]
redox_syscall = { git = "https://gitlab.redox-os.org/4lDO2/syscall.git", branch = "nuke_proc" }
