[package]
name = "bootstrap"
version = "0.0.0"
authors = ["4lDO2 <4lDO2@protonmail.com>"]
edition = "2021"
license = "MIT"

[lib]
name = "bootstrap"
crate-type = ["staticlib"]

[dependencies]
linked_list_allocator = "0.9"
redox-initfs = { git = "https://gitlab.redox-os.org/redox-os/redox-initfs.git", features = ["kernel"], default-features = false }
redox-exec = { git = "https://gitlab.redox-os.org/redox-os/relibc.git" }
redox_syscall = "0.3.2"

[profile.release]
panic = "abort"

[profile.dev]
panic = "abort"
